html body {
  font-family: arial;
  margin-top: 0px;
  background-color: #f9fffe;
}

.logo {
  width: 30%;
  height: auto;
  margin-left: 22%;
  margin-top: 5%;
  margin-bottom: 2.9%;
}

.header {
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
}

#title {
    margin: auto;
    width: 20%;
    padding: 10px;
}    

#title {
    margin: auto;
    width: 20%;
    padding: 10px;
} 

#customButton {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

#barcode {
  width: 7.9%;
  height: auto;
  margin-bottom: 1%;
  margin-left: 8%;
}

#search {
  width: 6%;
  height: auto;
  float: right;
  margin-top: 4%;
  margin-right: 5.5%;
}

.osContainer{
    border: 2px solid black;
    padding: 3px;
    margin-bottom: 180px;
    margin-top: 0px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.osContainer #one {
    width: 80%;
    height: 50%;
}

.osContainer #two {
    width: 20%;
    height: 50%;
}


#line {
    border-bottom: 1px solid darkgray;
    width: 100%;
}

 #three {
    width: 100%;
}

#orderSummary{
    margin-top: 100px;
}

#egg {
    margin-top: 0%;
    width: 1%;
    height: 1%;
}

img.menu {
  width: 8.2%;
  height: auto;
  margin-bottom: 1%;
  margin-left: 3.5%;
}