html body {
  font-family: arial;
  margin-top: 0px;
}

img.logo {
  width: 30.5%;
  height: auto;
  margin-left: 21.8%;
  margin-top: 5%;
  margin-bottom: 3%;
}

.header {
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
}


#title {
    margin: auto;
    width: 20%;
    padding: 10px;
} 

#customButton {
  background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
}

#customButtonTwo {
  background-color: white;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

.container{
  padding: 3px;
  margin-bottom: 100px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 125px;
}

.text {
  width: 50%;
  height: 50%;
}

.sideRight {
  width: 50%;
  height: 50%;
}

.sideRight img {
  width: 100%;
  height: 100%;
}

img.menu {
  width: 8%;
  height: auto;
  margin-bottom: 1%;
  margin-left: 4%;
}

#barcode {
  width: 8%;
  height: auto;
  margin-left: 7%;
  margin-bottom: 1%;

}

#search {
  width: 6%;
  height: auto;
  float: right;
  margin-top: 4%;
  margin-right: 5%;
}