body{
  display: flex;
  flex-direction: row;
  padding-bottom: 0%;
  justify-content: space-around;
  background-color: light-gray;
  font-family: 'Raleway', sans-serif;
  max-height: 1%;
  height: 10%;
}
/*Picture of product from camerabox. and details about product*/


.block1 {
  padding: 3%;
  border: 1px solid black;
  padding-bottom: 3%;
  max-width: 70%;
  max-height: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.itemcheckedout {
  padding: 110px;
  height: 15%;
  width: auto;
  border: 1px solid black;
  margin-bottom: 10%;
}

 #details {
   padding: 200px;
   border: 1px solid black;
   max-height: 1%;
   max-width: 10%;
   margin: 1px;
   height: 50%;
   width: auto;
 }


/*Seperator*/

/*Camera, checkout button, and clear cart button CSS code*/
.block2{
  padding: 3%;
  padding-bottom: 3%;
  border-radius: 25px;
  max-width: 70%;
  max-height: 50%;
  height: 10%;
  display: flex;
  flex-direction: column;
}

.camerabox{
  padding:100px;
  height: auto;
  width: 100px;
  border: 1px solid black;
}

.buttons{
  padding-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.checkout{
  border: none;
  color: black;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'Raleway', sans-serif;

}

.checkout span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.checkout span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.checkout:hover span {
  padding-right: 20px;
}

.checkout:hover span:after {
  opacity: 1;
  right: 0;
}

.clearcart{
  border-radius: 4px;
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'Raleway', sans-serif;
}

.clearcart span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.clearcart span:after {
  content: '\00AB';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.clearcart:hover span {
  padding-left: 25px;
}

.clearcart:hover span:after {
  opacity: 1;
  left: 0;
}
/*Seperator*/

.block3{
  padding: 0%;
  border: 1px solid black;
  max-width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cart {
  padding: 200px;
  max-height: 1%;
  max-width: 10%;
  margin: 1px;
  height: 350px;
  width: auto;
}
